<h1>{{page.title}}</h1>
<p>{{page.description}}</p>
<ng:switch on="page.type">
    <div ng:switch-when='question-choice' class='choices page'>
        <button class="radius button" ng:repeat='choice in page.question.choices' ng:click='selectChoice(page, choice)' ng:class='choiceCSSClass(page, choice)'>{{choice.title}}</button>
    </div>
    <div ng:switch-when='response' class='responses page'>
        <div class="alert-box warning" ng:class="responseCSSClass(page)" ng:repeat='question in page.questionPages' ng:click='goToPage(question)'>{{question.title}} - {{question.response.title}}</div>
    </div>
    <div ng:switch-default class='page'>
        <p>This is a simple page</p>        
    </div>
</ng:switch>
<button class='radius button' ng:show='hasPreviousPage()' ng:click='goToPreviousPage()'>Previous</button>
<button class='radius button' ng:show='hasNextPage()' ng:click='goToNextPage()' ng:disabled='{{!canMoveToNext(page)}}'>Next</button>
